/* General Styles */
@font-face {
    font-family: 'AdivinePixel';
    src: url(font/AdvinePixelDemoRegular-Zpoq3.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AdivinePixel';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(images/ec303282567a83a0a9d3a4c28fdc8f84.jpg) no-repeat center center / cover;
}

.container {
    width: 550px;
    height: 450px;
}

.header {
    font-size: 2.3rem;
    border: solid 2px #fff;
    color: #fff;
    background-color: rgb(2, 8, 45);
    padding: 5px;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
}

.main-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    padding: 20% 40px;
    box-shadow: 0 0 10px;
}

.main-content .text-area {
    font-size: 2rem;
    line-height: 1.5;
}

.main-content .person {
    font-size: 1.6rem;
    color: rgb(2, 8, 45);
    text-transform: uppercase;
    margin-top: 20px;
}

.button-area button {
    background-color: grey;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 5px;
}

.button-area button:active {
    background-color: lightblue
}